html {
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

body.no-transition * {
    transition: none !important;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.container {
    width: 200px;
    height: 200px;
}

.slide {
    width: 200px;
    height: 200px;
}

.slides {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transition: transform 700ms ease-out;
}

#slide-1 {
    background-color: red;
}

#slide-2 {
    background-color: orange;
}

#slide-3 {
    background-color: yellow;
}

#slide-4 {
    background-color: green;
}

#slide-5 {
    background-color: blue;
}
button.slide-left, button.slide-right {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.left-arrow {
    background-image: url('arrow-left.svg');
}

.right-arrow {
    background-image: url('arrow-right.svg');
}

.icon {
    width: 50px;
    height: 50px;
}

#slide-selection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
}

.slide-select {
    width: 14px;
    height: 14px;
    border: 1px solid black;
    border-radius: 50%;
}

.slide-select.selected {
    background-color: red;
}
